<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salir()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Cerrando ( {{ id }} )</ion-title>
    </ion-toolbar>
    <ion-progress-bar *ngIf=" cargando " type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content padding class="animated fadeIn">

    <ion-item lines="none">
        <ion-label style="font-size:85%; margin-top: 20px;" class="ion-text-wrap">
            <p>El cierre de este registro solo puede ser realizado por el usuario que lo generó y posterior a que el Responsable y Experto hayan cerrado ambos sus labores.</p>
        </ion-label>
    </ion-item>

    <ion-card style="margin-top: 10px;">

        <ion-card-subtitle style="padding:25px;font-weight: bolder;font-style: italic;">"... {{ descrip }} ..."</ion-card-subtitle>
        <ion-card-title style="padding-left:25px; ">{{ titulo }}</ion-card-title>

        <ion-card-content>
            <ion-item>
                <ion-label>Cerrar registro?</ion-label>
                <ion-toggle color='danger' checked="false " [(ngModel)]="cerrado " name="cerrado "></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Fecha cierre</ion-label>
                <ion-datetime cancel-text="Abandonar" done-text="Listo" displayFormat="DD/MM/YYYY " pickerFormat="DD MMMM YYYY " min="2018-12-31" max="2022-12-31" [(ngModel)]="fechacierre " name="fechacierre "></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label floating>Observaciones</ion-label>
                <ion-textarea [(ngModel)]="obs " name="obs " rows="4 "></ion-textarea>
            </ion-item>
        </ion-card-content>

    </ion-card>

    <ion-item lines="none" *ngIf=" tipo=='R' || tipo=='E' ">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="block" fill="clear" size="small" (click)="funciones.openCamera( registro ) ">
                        <ion-icon slot="start" name="camera" color="primary"></ion-icon>
                        Tomar una foto
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="block" fill="clear" size="small" (click)="funciones.openGallery( registro ) ">
                        <ion-icon slot="start" name="images" color="primary"></ion-icon>
                        Galería de fotos
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item *ngIf=" this.registro.imagenes.length>0 && ( tipo=='R' || tipo=='E' ) ">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="6" size-xs="6" *ngFor="let foto of registro.imagenes">
                    <ion-card style="max-height: 150px;max-width: 150px;">
                        <ion-card-content style="margin-bottom: 20px;">
                            <img [src]=" 'data:image/jpeg;base64,' + foto.img " />
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-progress-bar *ngIf=" grabando " type="indeterminate"></ion-progress-bar>
    <ion-item lines="none">
        <ion-grid>
            <ion-row style="margin-left: 10px;margin-right: 5px;">
                <ion-col size="7">
                    <ion-button expand="block " size="small " style="text-transform: none; " (click)="salir() ">Salir sin cerrar</ion-button>
                </ion-col>
                <ion-col size="5">
                    <ion-button expand="block " size="small " style="text-transform: none; " (click)="preguntaCerrarReg() ">Cerrar registro</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

</ion-content>